<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title th:text="${name} + ' Demo'" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="core/easyui/themes/default/easyui.css">
    <!-- <link rel="stylesheet" type="text/css" href="core/easyui/themes/bootstrap/easyui.css"> -->
	<link rel="stylesheet" type="text/css" href="core/easyui/themes/icon.css">
	
	<script type="text/javascript" src="core/easyui/jquery.min.js"></script>
	<script type="text/javascript" src="core/easyui/jquery.easyui.min.js"></script>
</head>
	<body>
	    <p th:text="'Welcom to ' + ${name} + '!'" />
	    <div style="margin:20px 0;"></div>
	    <table id="dg"></table>
	    <div id="win" style="padding:10px;">
	    	客户明细界面未实现
	    </div>
	    <script type="text/javascript" src="js/easyui/grid.js"></script>
	</body>
</html>
